* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

canvas {
    display: block;
    margin: 30px auto;
}

#score {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0 0;
}